{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'Edit Glass'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit Glass'|trans }}</h1>
    {{ include('admin/glass/_form.html.twig') }}
{% endblock %}
