{% extends 'base_admin.html.twig' %}

{% block title %}New Glass{% endblock %}

{% block content %}
    <h1>Create new Glass</h1>

    {{ include('admin/glass/_form.html.twig') }}

    <a href="{{ path('glass_admin_index') }}">back to list</a>
{% endblock %}
