{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'New glass'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Add new glass'|trans }}</h1>

    {{ include('admin/glass/_form.html.twig') }}
{% endblock %}
