{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'New user'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Add new user'|trans }}</h1>
    {% include 'admin/user/_form.html.twig' %}
{% endblock %}
