{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'New ingredient'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Add new ingredient'|trans }}</h1>
    {{ include('admin/ingredient/_form.html.twig') }}
{% endblock %}
