{% extends 'base_admin.html.twig' %}

{% block title %}Edit Unit{% endblock %}

{% block content %}
    <h1>Edit Unit</h1>

    {{ include('admin/unit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('unit_admin_index') }}">back to list</a>

    {{ include('admin/unit/_delete_form.html.twig') }}
{% endblock %}
