{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'Edit Unit'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit Unit'|trans }}</h1>
    {{ include('admin/unit/_form.html.twig') }}
{% endblock %}
